.about {
  position: relative;
  z-index: 1;
  padding-bottom: 0;

  p {
    margin-bottom: 2em;
    @include query(48em) {
      margin-bottom: 0;
    }
  }

  .container {
    @include query(48em) {
      display: flex;
    }
  }

  &-text {
    flex: 5;
  }

  &-image {
    flex: 4;
    margin-bottom: -13vmin;
  }

  .img-responsive {
    @include center;
    max-width: 75vmin;

    @include query(48em) {
      margin-right: 0;
    }
  }

  + * {
    padding-top: 16vmin;
  }
}
