.download {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-color: #FFEA00;
  background-image: linear-gradient(to bottom, #FFEA00, #FFCC00);
  text-align: center;

  img {
    @include center;
    display: block;
  }

  &-logo {
    max-width: 40vmin;
    margin-bottom: 6vmin;

    @include query(48em) {
      margin-bottom: 10vmin;
    }
  }

  &-inner {
    display: inline-block;
  }
}
