.navigation {
  position: fixed;
  z-index: z(navigation);
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(#FFEA00, 0.8);
  font-size: 0.65rem;

  @include query(48em) {
    font-size: 1rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    display: inline-block;
    padding: 1em 0.5em;
  }

  &-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;

    .active a {
      position: relative;

      &::after {
        content: url("../images/underline1-sm.svg");
        display: inline-block;
        position: absolute;
        bottom: 0.2em;
        left: 0.35em;
        right: 0.35em;
        width: calc(100% - 0.5em);
        overflow: hidden;

        @include query(48em) {
          content: url("../images/underline1.svg");
        }
      }
    }
  }
}
