.press {
  background-color: #F6F6F6;

  a {
    $color: #007EE5;

    &:hover,
    &:focus {
      color: $color;

      &::after {
        content: url("../images/underline2-sm-blue.svg");

        @include query(48em) {
          content: url("../images/underline2-blue.svg");
        }
      }
    }
  }

  .container {
    @include query(48em) {
      display: flex;
      align-items: center;
    }
  }

  .img-responsive {
    @include center;
    max-width: 50vmin;
  }

  &-image {
    flex: 2;
    margin-bottom: 1em;
  }

  &-text {
    flex: 3;
  }
}
