.press {
  background-color: #F6F6F6;

  .container {
    @include query(48em) {
      display: flex;
      align-items: center;
    }
  }

  .img-responsive {
    @include center;
    max-width: 50vmin;
  }

  &-image {
    flex: 2;
    margin-bottom: 1em;
  }

  &-text {
    flex: 3;
  }
}
