.social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include query(48em) {
    justify-content: flex-end;
  }

  > * {
    flex: 0 0 5em;
    margin: 0.25em;
  }
}
