$font-family-base: "NHaasGroteskDSW01-75Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 24px;

$colors: (
  facebook: #39579B,
  twitter: #00AFF0,
  muted: #9C9C9C
);

$elements: main, navigation;
