{% extends "default.html" %}

{% set page = {
  title: null,
  modifier: "home",
  navigation: [
    { title: "Download", url: "#download" },
    { title: "About", url: "#about" },
    { title: "Press", url: "#press" }
  ]
} %}

{% block content %}

<section class="download" id="download">
  <div class="jumbotron-inner">
    <img class="download-logo" src="images/logo-lg.svg" alt="logo">
    <a href="https://itunes.apple.com/hr/app/scribl-messenger/id946045182?mt=8"><img src="images/app-store.svg" alt="available one the app store"></a>
    <a class="next" data-scroll href="#about"><img src="images/next.svg" alt="chevron pointing down"></a>
  </div>
</section>

<section class="about" id="about">
  <div class="container">
    <div class="about-text">
      <h2>So, what's it all about?</h2>
      <p>Scribl is a messaging app that allows you to communicate with your <span class="text-facebook">Facebook</span> friends simply by drawing.</p>
    </div>

    <div class="about-image">
      <img class="img-responsive" srcset="images/iphone.png, images/iphone@2x.png 2x" width="374" height="704" alt="scribl on an iphone">
    </div>
  </div>
</section>

<section class="press" id="press">
  <div class="container">
    <div class="press-image">
      <img class="img-responsive" src="images/dropbox.svg" alt="dropbox logo">
    </div>

    <div class="press-text">
      <h2>It's so #epic, how do I tell everyone?</h2>
      <p>Just <a class="text-underline" href="https://www.dropbox.com/sh/uesms6akapvat72/AACHfhvmr-kSai77Ng0fUhz5a?dl=0">download</a> the press kit which contains everything you'll ever need<span class="text-muted">*</span>.</p>
      <small class="text-muted">*and more</small>
    </div>
  </div>
</section>

{% endblock %}
