<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Scribl is a messaging app that allows you to communicate with your Facebook friends simply by drawing.">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    {% if page.title %}
      <title>{{ page.title }} · Scribl</title>
    {% else %}
      <title>Scribl</title>
    {% endif %}

    <!-- Favicons -->
    <!-- iOS 2.0+ and Android 2.1+ -->
    <link rel="apple-touch-icon-precomposed" href="images/favicons/favicon-152.png">
    <!-- iPad with high-resolution Retina display running iOS ≥ 7 -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/favicons/favicon-152.png">
    <!-- iPad with high-resolution Retina display running iOS ≤ 6 -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicons/favicon-144.png">
    <!-- iPhone with high-resolution Retina display running iOS ≥ 7 -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/favicons/favicon-120.png">
    <!-- iPhone with high-resolution Retina display running iOS ≤ 6 -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicons/favicon-114.png">
    <!-- first- and second-generation iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicons/favicon-72.png">
    <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="images/favicons/favicon-57.png">
    <!-- IE 10 Metro tile icon (Metro equivalent of apple-touch-icon) -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="images/favicon-144.png">
    <!-- other -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" sizes="16x16 32x32" href="favicon.ico">

    <!-- Webfont -->
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/69c96db7-21fb-45c5-8166-44c529209056.js"></script>

    <!-- build:css styles/main.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="normalize-css/normalize.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55856077-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body class="page-{{ page.modifier }}">
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include "navigation.html" %}

    <main class="main" role="main">
      {% block content %}
      {% endblock %}
    </main>

    {% include "footer.html" %}

    {% include "analytics.html" %}

    <!-- build:js scripts/main.js -->
    <!-- bower:js -->
    <script src="smooth-scroll.js/dist/js/smooth-scroll.js"></script>
    <script src="raphael/raphael.js"></script>
    <!-- endbower -->

    <script src="scripts/vendor/raphael.handdrawn.js"></script>
    <script src="scripts/navigation.js"></script>
    <!-- endbuild -->

    <script>
      var navigation = document.querySelector('.navigation');
      smoothScroll.init({offset: navigation.offsetHeight});
    </script>
  </body>
</html>
